version: '3'
services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins-devops
    user: root
    privileged: true
    network_mode: "host"     # <--- THE MAGIC FIX
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    restart: always
    
